<mat-toolbar>
    <a href="https://dogo4ml.upc.edu/en" target="_blank">
      <img src="assets/DOGO4ML.png" alt="DOGO4ML">
    </a>
    <h1 class="title">SOPCOM</h1>
    <div style="flex-grow: 1; flex: 1; width: 100%;"></div>
    <div class="toolbar-end">
      <mat-dialog-actions style=" padding:8px; display: flex; margin-bottom: 0; margin-right: 1rem;">
        <button mat-raised-button (click)="openContextDialog()"> {{"Select Context"}} </button>
      </mat-dialog-actions>
      <a href="https://gessi.upc.edu/en" target="_blank">
        <img src="assets/GESSI.jpg" alt="Software and Services Engineering Group">
      </a>
    </div>
</mat-toolbar>
