
:host ::ng-deep mat-tab-group {
  flex-direction: row;
}
:host ::ng-deep mat-tab-header, :host ::ng-deep .mat-mdc-tab-header {
  border-bottom: none;
  width: 160px;
}
:host ::ng-deep mat-tab-header-pagination {
  display: none !important;
}
:host ::ng-deep .mat-mdc-tab-labels {
  min-width: 100px;
  flex-direction: column;
  height: 100%;
}
:host ::ng-deep mat-ink-bar {
  display: none;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper {
  flex: 1 1 auto;
  margin: 0 10px;
  width: 100%;
  overflow-y: auto;
}

:host ::ng-deep .mat-mdc-tab {
  font-size: 15px;
  height: 48px;
  flex-grow: 0 !important;
}

:host ::ng-deep .mat-mdc-tab-labels .mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator.mdc-tab--active.mdc-tab-indicator--active {
  background-color: #ffe066;
  color: black;
  border-right: 2px solid #ffcc00;
  text-transform: uppercase;
  height: 48px;
}
:host ::ng-deep .mat-mdc-tab-label-container {
  border-bottom: none;
}

:host .col {
  display: flex;
  flex-direction: column;
  margin: .25rem;
}

:host .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: clip;
}   
  .buttons * {
    font-size: .8rem;
  }
