<mat-tab-group  animationDuration="0ms" [ngStyle]="{ 'max-height.px' : maxHeight }">
    <mat-tab label="Cirteria" [routerLink]="['/criteria']">
        <div class="col">
            <app-criteria-list> </app-criteria-list>
        </div>
    </mat-tab>
    <mat-tab label="Map" [routerLink]="['/map']">
        <div class="col">
            @if (this.selectedContext != undefined){
                <mat-form-field>
                    <mat-label>Map</mat-label>
                    <mat-select [(ngModel)]="this.selectedMap" (valueChange)="onSelectMap($event)" >
                        @for(map of this.mapList; track map.id){
                            <mat-option [value]="map.id">{{map.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
            <div class="buttons" style="margin-bottom: 1rem;">
                <button [disabled]="selectedMap == undefined" mat-button (click)="onClickMapType($event, mapTypes.All)">Show Original</button>
                <button [disabled]="selectedMap == undefined" mat-button (click)="onClickMapType($event, mapTypes.CanApply)">Show Can Apply</button>
                <button [disabled]="selectedMap == undefined" mat-button (click)="onClickMapType($event, mapTypes.Selected)">Show Selected</button>
            </div>
            <app-method-chunk-list> </app-method-chunk-list>
        </div>
    </mat-tab>
</mat-tab-group>

